<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="enca">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            <nav class="input">
                <input style="font-family: FontAwesome;" type="text" placeholder="Buscar productos, ma &#Xf002"
                    class="mobile">
                <input type="text" placeholder="Buscar productos, marcas" class="normal">
            </nav>
            <a href="" class="search"><i class="fas fa-search"></i></a>
        </div>
        <div class="parrafo">
            <p class="buy"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="contenedor">
        <nav class="lista">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="listaseg">
            <ul class="reg">
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <div>
            <img class="banner" src="/images/img-home-banner.jpg" alt="">
        </div>
        <h3>Basado en tu última visita</h3>
        <section>
            
            <article class="pri">
                <img id="producto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$6.770</p>
                    <p class="desc">40% OFF</p>
                </div>
                <h4 class="dp">Cafetera Moulinex</h4>
            </article>
            <article class="seg">
                <img id="producto" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$230.000</p>
                    <p class="desc">20% off</p>
                </div>
                <h4 class="dp">MacBook Pro 2019</h4>
            </article>
            <article class="ter">
                <img id="producto" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$70.500</p>
                    <p class="desc">10% off</p>
                </div>
                <h4 class="dp">Samsung Galaxy S10</h4>
            </article>
            <article class="cua">
                <img id="producto" src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$23.200</p>
                    <p class="desc">5% off</p>
                </div>
                <h4 class="dp">SmartTv Samsung 43"</h4>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section>
            <article class="pri">
                <img id="producto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$6.770</p>
                    <p class="desc">40% OFF</p>
                </div>
                <h4 class="dp">Cafetera Moulinex</h4>
            </article>
            <article class="seg">
                <img id="producto" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$230.000</p>
                    <p class="desc">20% off</p>
                </div>
                <h4 class="dp">MacBook Pro 2019</h4>
            </article>
            <article class="ter">
                <img id="producto" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$70.500</p>
                    <p class="desc">10% off</p>
                </div>
                <h4 class="dp">Samsung Galaxy S10</h4>
            </article>
            <article class="cua">
                <img id="producto" src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <a href=""><i class="fas fa-truck"></i></a>
                <div>
                    <p class="precio">$23.200</p>
                    <p class="desc">5% off</p>
                </div>
                <h4 class="dp">SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
            
        </section>
        <article>
                <p class="final">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
    </footer>
</body>

</html>