@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
body{
    background-color: #ebebeb
    ;
}
/* header */
header{
    background-color: #EAC926;
    font-size: 12px;

}
header img{
    width: 50%;
    margin: 13px;
}
header nav a.search{
    display: inline-block;
    background-color: #ebebeb;
    padding: 3px;
    border-radius: 15%;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.5);
}
header nav p.buy{
    display: block;
    text-align: center;
}
header nav ul{
    display: none;
}
header nav ul li{
    display: block;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
header nav ul li a{
    text-decoration: none;
    color:black;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
header .burger-menu {
    display: inline-block;
    background-color: #1259c3;
    padding: 10px;
    text-align: center;
    margin-left: 45%;
    border-radius: 15%;
    font-size: 15px;
}
header .burger-menu i{
    color: white;
}

/* main */
main{
    text-align: center;
    width: 90%;
}
main section img.banner{
    width: 111%;
}
main section article{
    background-color: white;
    display: block;
    padding: 10px;
    border-top:solid 1px #ebebeb;
    margin: 15px;
    border-bottom:solid 1px #ebebeb;

}

main section article h3{
    color: #666;
    font-size: 24px;
}
main section article p{
    display: block;
    text-align: left;
    font-size: 18px;
}
main section article p.desc{
    display: block;
    font-size: 16px;
    color: #39b54a;
}
main section article h4{
    display: none;
    color: #666;
    align-self: initial;
    font-size: 16px;
}
main section article a{
    display: block;
    text-align: left;
    color: #39b54a;
}
main section article img{
    border-bottom:solid 1px #ebebeb;
}


/* footer */
footer{
    background-color: white;
    text-align: center;
}
footer section article i{
    font-size: 2em;
    color: #1259c3;
}
footer section article p.final{
    font-size: 12px;
    text-align: left;
}

#producto{
    width: 80%;
}

@media (min-width: 361px){
    /* header */
    header nav ul{
        display: block;
    }
    header .burger-menu {
        display: none;
    }
    /* main */
    main section article h4{
        display: block;
        text-align: left;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    /* header */
    header nav ul{
        display: block;
    }
    header .burger-menu {
        display: none;
    }
    /* main */
    main section article h4{
        display: block;
        text-align: left;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}