@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

header{
    background-color: #EAC926;

}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color:black;
    margin: 0px;
}
header .burger-menu {
    display: inline-block;
    background-color: #03264C;
    padding: 10px;
}
header .burger-menu i{
    color: white;
}


#producto{
    width: 80%;
}